.result-card {
    padding: 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-result {
    margin: 15px;
}

.title-result {
    font-size: 30px;
    color: var(--VeryDarkViolet);
    letter-spacing: 5px;
    margin: 15px;
}

.text-result {
    color: var(--DarkGrayishViolet);
}

.result {
    width: 100%;
    margin: 40px 20px;
}

@media screen and (min-width: 1200px) {
    .result-card {
        width: 50%;
    }
}