:root {
  --LinearActiveInputBorder: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --ErrorColor: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 3%, 87%);
  --DarkGrayishViolet: hsl(279, 6%, 55%);
  --VeryDarkViolet: hsl(278, 68%, 11%);
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./assets/fonts/SpaceGrotesk-Regular.ttf');
}
@font-face {
  font-family: 'SpaceGrotesk Bold';
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'SpaceGrotesk';
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}